<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dodaj nową ksiażke</title>
</head>
<body>
<nav>
    <a href="javascript:history.back()">Back to previous page</a>
</nav>
<form action="#" th:action="@{/addbook}" th:object="${book}" method="post">


    <label for="tytul">Tytuł</label>
    <input type="text" th:field="*{tytul}" id="tytul" placeholder="Tytuł">
    <br><br>

    <label for="autor">Name</label>
    <input type="text" th:field="*{autor}" id="autor" placeholder="Autor">
    <br><br>

    <label for="gatunek">Gatunek książki</label>
    <input type="text" th:field="*{gatunek}" id="gatunek" placeholder="Gatunek">
    <br><br>

    <label for="isbn">Numer ISBN</label>
    <input type="text" th:field="*{isbn}" id="isbn" placeholder="Numer isbn">
    <br><br>


    <input type="submit" value="Dodaj książkę">
</form>

</body>
</html>